<div class="container mx-48">
  <h1 class="pb-8"> About W&ADS</h1>
  <div>
    At Web and Application Development Services, we are a dedicated team of innovative developers and designers who strive to bring cutting-edge technology and digital solutions to support the academic and administrative needs of the College of LSA. Our mission is to enhance the digital presence of LSA by creating dynamic, user-friendly, and impactful web applications and other digital products.
    We specialize in designing and building web applications that cater to various purposes, including academic tools, administrative systems, research platforms, and student engagement platforms. Our applications are carefully crafted to ensure user-friendliness, accessibility, and compatibility across different devices.
    Our team excels in creating visually appealing, modern, and functional websites for academic departments, research initiatives, and other College of LSA entities. We follow best practices in web design and user experience to ensure that the websites are informative and intuitive for visitors.
  </div>
  <h1 class="py-8"> About the database</h1>
  <div>
    This database was created by Debbie Shih and Rena Shen as their project during the 2023 ITS Summer Internship. When they were working on another project during their internship that required a list of all the web applications developed/maintained by W&ADS, they realized that there wasn't a single, centralized location to find that information. This database is the answer to that problem. 
  </div>
</div>
