<div class="container px-1 mb-20">
  <div class="relative overflow-hidden -mx-10 -mt-6"></div>
  <section aria-labelledby="sale-heading" class="relative max-w-7xl mx-auto px-20 pt-32 px-4 flex flex-col items-center text-center sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto lg:max-w-none">
      <h1 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl" id="sale-heading">
        The Web & Application Development Services (W&ADS) Database
      </h1>
      <p class="mt-4 max-w-xl md:max-w-3xl mx-auto text-xl text-gray-700">
        The W&ADS Database keeps track of all web applications that W&ADS develops and maintains. 
      </p>
    </div>
    <div class="mx-auto">
      <p class="secondary_yellow_button">
        <%= link_to "Get Started", webapps_path%>
      </p>
      <div class="flex flex-col">
        <p class="mt-4 max-w-xl md:max-w-3xl mx-auto text-xl text-gray-700">
          Part of W&ADS? 
        </p>
      </div>
    </section>
  </div>
</div>
