<div class="p-6 w-fit block rounded-lg shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 bg-white">
  <h1><%= developer.full_name %></h1>
  <p><%=developer.uniqname%></p>
  <strong>Projects:</strong>
  <ul>
    <% developer.webapps.each do |webapp| %>
      <li> <%= webapp.project_name %> </li>
    <% end %>
  </ul>
</div>
