<div id="<%= dom_id developer %>">
  <p>
    <strong>Uniqname:</strong>
    <%= developer.uniqname %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= developer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= developer.last_name %>
  </p>

</div>
