<div class="container mx-2.5">
  <div class="flex flex-row justify-between">
    <h1>New developer</h1>
    <button class="secondary_blue_button">
      <%= link_to "Back to developers", developers_path %>
    </button>
  </div>
  <div class="flex flex-row justify-center">
    <%= render "form", developer: @developer %>
  </div>
</div>
