<div class="container mx-auto">
  <div class="mx-16 text-center py-4">
    <% if @webapp.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@webapp.errors.count, "error") %> prohibited this webapp from being saved:</h2>
        <ul>
          <% @webapp.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <h1 class="text-center">Editing web application</h1>
  <%= render "form", webapp: @webapp %>
</div>
