<p style="color: green"><%= notice %></p>
<h1>Webapps</h1>
<div>
  <button class="secondary_blue_button">
    <%= link_to "New webapp", new_webapp_path %>
  </button>
</div>
<div id="webapps">
  <% @webapps.each do |webapp| %>
    <%= render webapp %>
    <p>
      <%= link_to "Show this webapp", webapp %>
    </p>
  <% end %>
</div>
