<p style="color: green"><%= notice %></p>
<div class="flex flex-col">
  <div class="py-2 mx-36">
    <button class="secondary_blue_button">
      <%= link_to "Back to webapps", webapps_path %>
    </button>
  </div>
  <div class="mx-36"><%= render @webapp %></div>
</div>
