@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Oswald:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'actiontext.css';

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

from https://tailwindcss.com/docs/adding-custom-styles
*/

@layer base {
  .header_link {
    @apply border-transparent text-blue-50 inline-flex items-center pr-1 pt-1 border-b-2 text-base font-normal hover:border-blue-300 text-white;
  }

  .active {
    @apply text-yellow-500;
  }
  .unavailable {
    @apply text-red-700
  }

  .available {
    @apply text-green-700
  }

  h1 {
    @apply text-4xl font-medium leading-10 font-oswald;
  }

  h2 {
    @apply text-3xl font-medium leading-10 font-oswald;
  }

  h3 {
    @apply text-xl font-medium leading-8 font-oswald;
  }

  h4 {
    @apply text-base font-medium leading-6 font-oswald;
  }

  h5 {
    @apply text-base font-normal leading-6 font-oswald;
  }

  h6 {
    @apply text-sm font-medium leading-5 font-oswald;
  }

  hr {
    @apply border-blue-900 border m-4;
  }

  .body-text {
    @apply text-sm font-normal font-montserrat;
  }

  .body-bold-text {
    @apply text-sm font-bold font-montserrat;
  }

  .body-md-text {
    @apply text-base font-normal font-montserrat;
  }

  .body-md-bold-text {
    @apply text-base font-bold font-montserrat;
  }

  .body-lg-text {
    @apply text-lg font-normal font-montserrat;
  }

  .body-lg-medium-text {
    @apply text-lg font-medium font-montserrat;
  }

  .body-lg-bold-text {
    @apply text-lg font-bold font-montserrat;
  }

  .body-sm-bold-text {
    @apply text-sm font-semibold text-gray-900
  }

  .button_label {
    @apply text-sm font-medium leading-4 text-gray-550 font-montserrat;
  }

  .caption {
    @apply text-sm font-medium leading-4 italic text-gray-550;
  }

  .breadcrumb {
    @apply text-sm font-medium leading-4 text-gray-550;
  }

  .text_field_label {
    @apply text-base font-semibold leading-4 text-gray-900 font-montserrat mb-2;
  }

  .text_small {
    @apply ml-2 text-sm text-gray-700;
  }

  .check_box {
    @apply w-5 h-5 rounded mr-2 border-blue-umblue text-blue-umblue focus:ring-blue-umblue disabled:border-gray-400;
  }

  .check_box_text {
    @apply font-montserrat font-medium leading-4 text-sm text-blue-umblue;
  }

  .primary_button {
    @apply py-2 px-4 font-montserrat font-medium leading-7 text-xs border rounded-md text-white bg-blue-umblue;
  }

  .primary_button:hover {
    @apply underline text-blue-umblue bg-white border-solid border-blue-umblue border-2;
  }

  .primary_button:active {
    @apply underline text-blue-umblue bg-white border-solid border-blue-umblue border-2;
  }

  .primary_button:focus {
    @apply underline text-blue-umblue bg-white border-solid border-blue-umblue border-2;
  }

  .primary_button:disabled {
    @apply opacity-50 bg-black pointer-events-none text-white;
  }

  .secondary_yellow_button {
    @apply py-2 px-4 font-montserrat font-medium leading-7 text-xs border rounded-md text-blue-umblue bg-yellow-ummaze;
  }

  .secondary_yellow_button:hover {
    @apply underline text-blue-umblue bg-white border-solid border-yellow-ummaze border-2;
  }

  .secondary_yellow_button:active {
    @apply underline text-blue-umblue bg-white border-solid border-yellow-ummaze border-2;
  }

  .secondary_yellow_button:focus {
    @apply underline text-blue-umblue bg-white border-solid border-yellow-ummaze border-2;
  }

  .secondary_yellow_button:disabled {
    @apply opacity-50 bg-black pointer-events-none text-white;
  }
  
  .secondary_blue_button {
    @apply py-2 px-4 font-montserrat font-medium leading-7 text-xs border rounded-md text-white bg-blue-750;
  }

  .secondary_blue_button:hover {
    @apply underline text-blue-750 bg-white border-solid border-blue-750 border-2;
  }

  .secondary_blue_button:active {
    @apply underline text-blue-750 bg-white border-solid border-blue-750 border-2;
  }

  .secondary_blue_button:focus {
    @apply underline text-blue-750 bg-white border-solid border-blue-750 border-2;
  }

  .secondary_blue_button:disabled {
    @apply opacity-50 bg-black pointer-events-none text-white;
  }

  .tertiary_button {
    @apply py-2 px-4 font-montserrat font-medium leading-7 text-xs text-blue-umblue;
  }

  .tertiary_button:hover {
    @apply underline;
  }

  .tertiary_button:active {
    @apply underline;
  }

  .tertiary_button:focus {
    @apply underline;
  }

  .tertiary_button:disabled {
    @apply text-opacity-50 pointer-events-none text-blue-umblue;
  }

  .sign_button {
    @apply px-1 ml-2 shadow-sm font-medium rounded text-blue-900 bg-yellow-550 hover:bg-yellow-500 flex-1 hover:underline;
  }

  .edit_button {
    @apply my-2 px-2 py-1 rounded-md shadow-sm bg-blue-umblue text-sm text-gray-100 text-center hover:underline;
  }

  .back_button {
    @apply text-sm text-blue-umblue pb-2 hover:underline;
  }

  .delete_button {
    @apply my-2 px-2 py-1 rounded-md shadow-sm bg-gray-100 text-sm text-blue-umblue text-center hover:underline;
  }

  .link_to {
    @apply text-blue-umlink hover:underline;
  }

  .input_text_field {
    @apply w-full text-lg font-medium text-gray-900 bg-white border border-gray-600 rounded block p-2 focus:ring-blue-500 focus:border-blue-500 
    placeholder:font-montserrat placeholder:font-medium placeholder:leading-7 placeholder:text-sm placeholder:text-gray-um60;
  }

  .fancy_label {
    @apply text-sm font-semibold text-gray-900 bg-white relative px-1 top-2 left-3 w-auto group-focus-within:text-red-600;
  }

  .filter_select {
    @apply text-sm font-medium leading-4 text-blue-umblue bg-white border border-gray-600 rounded block p-2 focus:ring-blue-500 focus:border-blue-500 font-montserrat;
  }

  .file-upload {
    @apply block shadow rounded-md border border-gray-600 outline-none px-3 py-2 mt-2 w-full;
  }

  .card_area {
    @apply col-span-1 bg-white rounded-lg shadow-md divide-y divide-gray-400 px-2 place-items-stretch bg-white border border-gray-300 rounded-l
  }

  /* table */

  .mi_table {
    @apply px-2 min-w-full divide-y;
  }

  .mi_thead {
    @apply border border-l-0 border-r-0 border-gray-um60;
  }

  .header_th {
    @apply p-2 text-base font-semibold leading-5 font-montserrat lg:table-cell text-left;
  }

  .mi_tbody_tr {
    @apply relative sm:pl-2 bg-white border border-l-0 border-r-0 border-t-0 border-gray-um20;
  }

  .mi_tbody_td {
    @apply relative p-2 sm:pl-2 text-xs leading-4 font-montserrat text-left;
  }

  .alert {
    @apply text-red-500 text-sm font-normal font-montserrat;
  }

  .notice {
    @apply text-green-500;
  }

  .fields--hide {
    @apply hidden
  }

  .fields--display {
    @apply block
  }

  .error_text {
    @apply text-red-500
  }
  /* ... */
}

@layer components {
  .select2-dropdown {
    @apply rounded-b-lg shadow-md;
  }

  .select2-search {
    @apply border border-gray-300 rounded;
  }

  .select2-results__group {
    @apply text-lg font-bold text-gray-900;
  }

  /* ... */
  .switches [type="checkbox"] {
    position: absolute;
    left: -9999px;
    max-width: 150px;
    width: 95%;
    margin: 20px auto 0;
    border-radius: 5px;
    color: white;
    background: RoyalBlue;
  }
  .switches li {
    position: relative;
    counter-increment: switchCounter;
  }
  .switches li:not(:last-child) {
    border-bottom: 1px solid gray;
  }
  .switches .label-text {
    padding-right: 2px;
  }
  .switches label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px 8px 10px;
  }
  .switches span:last-child {
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
    background: gray;
    transition: all 0.3s;
  }
  .switches span:last-child::before, .switches span:last-child::after {
    content: "";
    position: absolute;
  }
  .switches span:last-child::before {
    left: 4px;
    top: 4px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    z-index: 1;
    transition: transform 0.3s;
  }
  .switches span:last-child::after {
    top: 50%;
    right: 8px;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/uncheck-switcher.svg);
    background-size: 12px 12px;
  }
  .switches [type="checkbox"]:checked + label span:last-child {
    background: green;
  }
  .switches [type="checkbox"]:checked + label span:last-child::before {
    transform: translateX(24px);
  }
  .switches [type="checkbox"]:checked + label span:last-child::after {
    width: 14px;
    height: 14px;
    left: 8px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/checkmark-switcher.svg);
    background-size: 14px 14px;
  }
  @media screen and (max-width: 600px) {
    .switches li::before {
      display: none;
    }
  }
  
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
  }
}